.about{
    margin: 50px ;
    padding: 20px;
    margin-left: 200px;
    box-shadow: rgba(7, 226, 215, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.about-img img{
    border-radius: 10px;
    width: 80%;
    height: 350px;
}
.about-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about-content h1{
    color: #0a4b7d;
    font-family: cursive;
    border-bottom: 2px solid gray;
    text-align: center;
}
.about-content p{
    text-align: justify;
    padding: 20px;
    color: #138781;
}

/* mobile view */

@media (max-width:600px){
    .about{
        margin: 0;
        padding: 0;
        margin-top: 20px;
        width: 100%;
    }
    .about-content h1{
        margin-top: 10px;
        
    }
    .about .about-img{
        margin: 30px 30px;
    }
}